<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/myInfo.css">
</head>
<body>
<div th:replace="/fragments/header.html :: fragment-header"></div>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>

<!-- 세부 메뉴 + 메인 -->
<div class="d-flex justify-content-center align-items-start" style="min-width: 100em;">
  <!-- 세부 메뉴 div-->
  <div class="sub--menu">
    <div class="sub--menu--top">
      <h2>MY</h2>
    </div>
    <!-- 메뉴 -->
    <div class="sub--menu--mid">
      <table class="sub--menu--table" border="1">
        <tr>
          <td><a href="/info/profile" class="selected--menu">내 정보 조회</a></td>
        </tr>
        <tr>
          <td><a href=/deleteRegister class="deleted-menu">회원 탈퇴</a></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- 메인 div -->
  <main>
    <h1>내 정보 조회</h1>
    <div class="split--div"></div>

    <table border="1" class="input--table">
      <tr>
        <th>ID</th>
        <td th:text="${userId}"></td> <!-- 사용자 ID -->
      </tr>

      <tr>
        <th>성명</th>
        <td th:text="${userName}"></td> <!-- 성명 -->
      </tr>
      <tr>
        <th>email</th>
        <td th:text="${email}"></td> <!-- 이메일 -->
      </tr>
    </table>

    <button type="button" onclick="location.href='/update'" class="btn btn-dark update--button">수정하기</button>
  </main>
</div>

<footer>
  <!-- 필요 시 -->
</footer>
</body>
</html>
