<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/myInfo.css">
  <title>회원 탈퇴</title>
</head>
<body>
<div th:replace="/fragments/header.html :: fragment-header"></div>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>

<!-- 이메일 입력 폼 -->
<div class="d-flex justify-content-center align-items-start" style="min-width: 100em;">
  <!-- 세부 메뉴 div-->
  <div class="sub--menu">
    <div class="sub--menu--top">
      <h2>MY</h2>
    </div>
    <!-- 메뉴 -->
    <div class="sub--menu--mid">
      <table class="sub--menu--table" border="1">
        <tr>
          <td><a href="/info/profile" class="selected--menu">내 정보 조회</a></td>
        </tr>
        <tr>
          <td><a href="/deleteProfile">회원 탈퇴</a></td>
        </tr>
      </table>
    </div>
  </div>
  <main>
    <h1>회원 탈퇴</h1>
    <div class="split--div"></div>

    <!-- 에러 메시지 표시 -->
    <div th:if="${errorMessage}" class="alert alert-danger">
      <p th:text="${errorMessage}"></p>
    </div>

    <!-- 회원 탈퇴 이메일 입력 폼 -->
    <form action="/deleteRegister" method="post">
      <div>
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" placeholder="탈퇴할 이메일을 입력하세요" required>
      </div>

      <div>
        <button type="submit" class="btn btn-danger">회원 탈퇴</button>
      </div>
    </form>
  </main>
</div>


</body>
</html>
