<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


  <head>
    <title th:text="#{user.register}">Member Register</title>
  </head>
  <body>
  <div layout:fragment="content">
  <p th:utext="#{register.done(${registerRequest.name}, ${registerRequest.email})}">
    Registration completed for [Name] and [Email]
  </p>
  <p><a th:href="@{/sample/login}">[첫 화면 이동]</a></p>
  </div>
  </body>
</html>